.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-info img {
  height: 200px;
}

.fighter-info {
  height: 350;
  background-color: #ebd759;
  border: 5px solid #ca9650;
}

.fighter-info-title,
.fighter-info-health,
.fighter-info-attack,
.fighter-info-defense {
  text-align: center;
  font-size: 18px;
  color: #ca9650;
  padding: 5px;
  margin: 0;
}
