.winner-container {
  background-color: #ca9650;
  font-size: 48px;
  /* border: 5px solid #ca9650; */
  height: 500px;
  text-align: center;
  color: #ebd759;
}
.winner-title {
  text-align: center;
  font-size: 18px;
  color: #ebd759;
  padding: 5px;
  margin: 0;
}

.winner-img {
  height: 200px;
}

#root {
  background-color: #ebd759;
}
